.bigbox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper2{
  width:100%;
  background: url(../images/bg@2x.png) no-repeat;
  background-size:100% 100%;
  padding: .44rem 0;
  flex: 1;
  overflow-y: scroll;
}
.wrapper2::-webkit-scrollbar {
  display: none;
}
.bot{
  background: url(../images/ziyoushengzhang@2x.png) no-repeat; 
  background-size:100% 100%;
  width: 97%;
  height:.98rem;
  position: absolute;
  bottom: 1rem;
  margin-left: 1.5%;
  display: flex;
  justify-content: space-between;
  padding: 0 .33rem;
}

.bg{
  width:100%;
  height:auto;
}
.bg>img{
  width:100%;
}
.btn{
  width:100%;
  height:.44rem;
  /* position:fixed;
  bottom: 0;
  left:0; */
  display: flex;
  justify-content: space-between;
}
.left{
  width:100%;
  height:.44rem;
  background:rgba(255,255,255,1);
  font-size:.13rem;
  font-family:PingFang-SC-Medium;
  color:rgba(102,102,102,1);
  border: none;
  text-align: center;
  line-height:.44rem;
}
.know{
  position: fixed;
  right:0;
  top:0;
  width:2rem;
  z-index: 999;
}
.know>img{
  width:2rem;
}
.right{
  width:50%;
  height:.44rem;
  background:rgba(48,92,186,1); 
  border: none;
  font-size:.13rem;
  font-family:PingFang-SC-Medium;
  color:rgba(255,255,255,1);
  text-align: center;
  line-height:.44rem;
}

.share_logo{
  width:100%;
  padding:0 .33rem;
}
.share_logo img{
  width:1.45rem;
  height: 0.41rem;
}
.share_tit{
  padding:0 .33rem;
  margin-top: .16rem;
  font-size: .16rem;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: rgba(255,255,255,1);
  line-height: .25rem;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.symbolTop{
  width:100%;
  height:auto;
  margin-top: .17rem;
  padding:0 .33rem;
}
.symbolTop>img{
  width:.2rem;
  height:.18rem;
}
.share_name{
  position: absolute;
  font-size: .11rem;
  font-family: PingFang-SC-Medium;
  color: rgba(255,255,255,1);
  padding: 0 .58rem 0 .15rem;
  bottom: .1rem;
}
.symbolBot{
  width:100%;
  height:auto;
  margin-top: .17rem;
  position: relative;
  padding:0 .33rem;
}
.symbolBot>img{
  position: absolute;
  right:.33rem;
  width:.2rem;
  height:.18rem;
}

.share_con{
  font-size:.15rem;
  font-family:PingFang-SC-Medium;
  color:rgba(245,245,245,1);
  line-height: .2rem;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin-top: .17rem;
  padding:0 .33rem;
}
.share_con>span{
  font-size: .16rem;
  font-weight: bold;
  font-weight: 500;
}
.share_time{
  width: 100%;
  position: absolute;
  font-size: .12rem;
  font-family: PingFang-SC-Medium;
  color:rgba(102,102,102,1);
  padding: 0 .3rem;
  top: 1.7rem;
  text-align: right;
}
.share_code{
  width: 33%;
  position: absolute;
  top: .25rem;
  right: .3rem;
}
.botLeft{
  margin-top: .16rem;
}
.botLeft>img{
  width: .865rem;
  height: .68rem;
}
.code_t{
  position: absolute;
  top: .05rem;
  left: 0rem;
  width: .22rem;
  font-size: .11rem;
  font-family: PingFang-SC-Medium;
  color:rgba(102,102,102,1);
  line-height: .16rem;
}
.code_img1{
  position: absolute;
  top: 0.2rem;
  left: .29rem;
}
.code_img1>img{
  width:.06rem;
  height:.11rem;
}
.code_img2{
  position: absolute;
  top: .0rem;
  right:.0rem;
  width:.53rem;
  height:.53rem;
}
.code_img2>img{
  width:.53rem;
  height:.53rem;
}

.backImg{
  width:100%;
  height:auto;
  flex: 1;
  overflow-y: scroll;
}
.backImg::-webkit-scrollbar {
  display: none;
}
.backImg img{
  width:100%;
  height:100%;
}
@media screen and (max-width:375px){
  .code_t{
    width: .32rem;
  }
}