#pageone{
  width:100%;
  height:100%;
}

#myPanel{
  display: none;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.3);
  position: fixed;
  left:0;
  top:0;
  z-index:9999;
}
.pagetit:first-child{
  margin-top:.25rem;
}
.pagetit,.pagetit>a{
  width:100%;
  line-height:.3rem;
  font-size:.15rem;
  margin-top:.15rem;
  color: #fff;
  font-weight:600;
}
.pagetit>a>img{
  width: .95rem;
  margin-bottom: .2rem;
  display: block;
}
.pagelist::-webkit-scrollbar { width: 0 !important }
.pagelist{
  width:60%;
  background:#3c3c44;
  height:100%;
  overflow-y: scroll;
   -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  padding: .3rem .1rem;
  padding-top:.4rem;
}
.ui-header{
  background:#fff;
  width:100%;
  height:.45rem;
  display:flex;
  padding:0 .12rem;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  left:0;
  top:0;
  z-index:9999;
}
.ui-header>b>img{
  width:.33rem;
  height: auto;
}
.ui-header>a{
  box-shadow: none;
  padding:none;
  margin-top:2px;
}
.ui-header>a>i.icon{
  font-size:.2rem;
  color:#313B5F;
}
.ui-header>a>i.search{
  font-size:.20rem;
  color:#313B5F;
}

.first{
  margin-top:0;
}
#home{
  font-size:.18rem;
  color: #4D63A7;
}
.test{
  width:100%;
  display:flex;
  height:auto;
  margin-top:.1rem;
  margin-bottom:.25rem;
  flex-wrap:wrap;
}
.test>li{
  padding-left: .05rem;
  padding-right: .1rem;
  line-height:.24rem;
  cursor: pointer;
}
.test>li>a{
  color:#c7c7c7;
}
.selected{
  color:#cfa972 !important;
} 

.list{
  width:100%;
  padding:.12rem 0rem;
  border-bottom:1px solid #e6e8eb;
  height:auto;
  
}
.list a{
  display:flex;
  justify-content: space-around;
}
.list-img{
  width:33.3%;
}
.list-img>img{
  display:block;
  width:100%;
  height:auto;
}
.list a dd{
  width:65.7%;
  padding-left:1.5%;
  height:auto;
  position: relative;
}
.list-tit{
  width:100%;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size:.14rem;
  color:#3d464d;
  font-weight:500;
  line-height: .18rem;
}
.list-tit:hover{
  color: #4D63A7;
}
.list-but{
  width:98%;
  position: absolute;
  bottom: 0;
}
.list-but>span.sp-time{
  float: left;
  font-size:.1rem;
  color:#999999;
}

.list-but>span.sp-kind{
  font-size:.1rem;
  float: right;
  color:#999999;
}

.load{
  width: 35%;
  background: #fff;
  margin: .1rem auto;
  text-align: center;
  height: .3rem;
  border: 1px solid #4C5D99;
  line-height: .3rem;
  color: #4D63A7;
  font-size: .13rem;
  border-radius: .04rem;
}
.bottom{
  width:100%;
  height:.5rem;
  text-align:center;
  font-size:.14rem;
  line-height:.5rem;
  color:#999999;
}
