.header{
  width:100%;
  height: .5rem;
  background:#151514;
  padding:.2rem;
  display:flex;
  justify-content:space-between;
  align-items: center;
  position:fixed;
  left:0;
  top:0;
  z-index:9999;
}
.header>a>img{
  width:50%;
}
#pageone{
  width:100%;
  height:100%;
}
#pagehide i.icon{
  font-size:.17rem;
  color:#fff;
}
#myPanel{
  display: none;
  width:100%;
  height:100%;
  background:#151514;
  position: fixed;
  left:0;
  top:0;
  z-index:9999;
  margin-top: .5rem;
}
.nav_top{
  text-align:center;
}
/* .pagetit{
  width:100%;
  line-height:.3rem;
} */
#myPanel h4{
  text-align:center;
  font-size:.16rem;
  margin-top:.2rem;
  line-height:.3rem;
  color:#fff;
}
.centera {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: .5rem;
}
.banner{
  width:100%;
  height:auto;
  padding: 0 .2rem;
  margin-top:.27rem;
}
.banner>img{
  width:100%;
}
.all_synopsis{
  color:#fff;
  font-size:.11rem;
  line-height:.22rem;
  padding:0 .2rem;
  margin-top:.05rem;
  text-indent: 2em;
  opacity: 0.8;
}
.figure{
  width:100%;
  height:auto;
  margin-top: .3rem;
}
.figure>img{
  width:100%;
}
.list_titer{
  width:100%;
  height:auto;
  margin-top: .3rem;
}
.list_titer>img{
  height:auto;
  width: 168%;
  margin-left: -36%;
}
.list_synopsis{
  margin-top:.1rem;
  width:100%;
  padding:0 .5rem;
  color:#fff;
  opacity: 0.8;
  font-size:.11rem;
  line-height:.22rem;
}
.list2_titer{
  width:100%;
  height:auto;
  margin-top: .5rem;
}
.list2_titer>img{
  height:auto;
  width: 100%;
}
.list2_synopsis{
  margin-top:.1rem;
  width:100%;
  padding:0 .56rem;
  color:#fff;
  font-size:.11rem;
  line-height:.22rem;
}
.guests{
  margin-top:.6rem;
  width:100%;
  height:auto;
}
.guests>img{
  width:100%;
  margin-bottom: .6rem;
}
.guests>img:last-child{
  margin-bottom: 0;
}
.top{
  width:100%;
  height:auto;
  padding:0 .2rem;
  margin-top:.6rem;
}
.top img{
  width:100%;
}
.interact_con{
  width:100%;
  height:auto;
  padding:0 .2rem;
}
.interact_con>img{
  width:100%;
  height:auto;
}
.img_2018{
  width:100%;
  margin-top: -.1rem;
  height:auto;
  padding:0 .2rem;
}
.img_2018>img{
  width:100%;
  height:auto;
}
.teamwork_box,issue_box,.map_box,.relation_box{
  width:100%;
  padding:0 .2rem;
}
.centera h4{
  font-size:.18rem;
  color:#fff;
  font-weight:800; 
  text-align:center;
  margin-top:.47rem;
}
.tw_list{
  width:100%;
  margin-top:.25rem;
}
.tw_list_tit{
  width:100%;
  height:auto;
  text-align: center;
}
.tw_list_tit>span{
  font-size:.17rem;
  color:#fff;
  display:inline-block;
  border-bottom: 4px solid #AC2E24;
  line-height: 0.24rem;
}
.tw_list_con{
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
  margin-top:.3rem;
  flex-wrap: wrap;
}
.tw_list_con>p{
  color:#fff;
  height: .25rem;
}
.tw_lists{
  justify-content:start; 
}
.tw_list_con>a{
  margin-right:.1rem;
  margin-bottom:.1rem;
  display: inline-block;
  width:29.7%;
}
.tw_list_con>a>img{
  width:100%;
}
.issue_list{
  width:100%;
  margin-top:.25rem;
  padding:0 .2rem;
}
.topic{
  color:#fff;
  position: relative;
  padding-left:.16rem;
  font-size:.12rem;
  line-height: .18rem;
}
.topic>img{
  position: absolute;
  width:.1rem;
  height:.1rem;
  left:.0rem;
  top: .02rem;
}
.iss_con{
  margin-top: .14rem;
  padding-left:.16rem;
  color:#fff;
  font-size:.11rem;
  opacity: 0.8;
  line-height: .17rem;
}
.map_con{
  margin-top: .2rem;
}
.mcon_list{
  margin-bottom:.1rem;
  padding-left:.56rem;
  width:100%;
  position: relative;
  color:#fff;
  opacity:0.9;
  font-size:.12rem;
  line-height: .17rem;
}
.mcon_list>img{
  position: absolute;
  width:.5rem;
  height:.15rem;
  left:.0rem;
  top: .02rem;
}
#map{
  width:100%;
}
#map>img{
  width:100%;
}
.relation_con{
  width:100%;
  height:auto;
  padding: .38rem;
}
.rcon{
  position: relative;
  margin-bottom: .26rem;
}
.rel_img>img{
  width:.65rem;
  height:.2rem;
  margin-bottom:.05rem;
}
.contact{
  color:#fff;
  opacity:0.9;
  font-size:.12rem;
  line-height: .22rem;
}
.right{
  position: absolute;
  right:0;
  top: .4rem;
}
.right>img{
  width:.6rem;
  height:.6rem;
}
.touch{
  width:.75rem;
  height:.75rem;
  position: fixed;
  right:0;
  top:68%;
  margin-top:-.32.5rem;
}
.touch>img{
  width:.75rem;
  height:.75rem;
}
.who{
  font-size: .14rem;
  color:#fff;
  line-height: .22rem;
}
#container{
  width: 100%;height: 100%;overflow: hidden;
}
.logos{
  width:100%;
  text-align:center;
  margin-top: -.05rem;
}
.logos>img{
  width:1.8rem;
}
.times{
  width:100%;
  padding-left:.5rem;
  margin-top: .2rem;
}
.times>img{
  width:.9rem;
}