
.btn {border-radius: 0.3rem; background-color: #4382D1; color:#fff; border: none; padding: 0.4rem 1rem; display: inline-block;}

.stage {position: relative; width:100%; overflow: hidden;}

.lanren {
    width: 9rem;
    height: 9rem;
    position: absolute;
    bottom: 18%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    animation: a 1000s linear;
    -webkit-animation: a 1000s linear;
}
/* .winBox {position: absolute; bottom: 18%; left: 0; right: 0; margin: auto; width: 18rem;} */
.winBox {position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);}
.winBox > .prizeImg {position: absolute; left:50%; top:40%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%); width: 80%; text-align: center;}
.prize_bg{
    animation: a 1000s linear;
    -webkit-animation: a 1000s linear;
}
.prize_img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7rem;
    margin-left: -3.5rem;
    margin-top: -3.5rem;
}
.winBox p {position: absolute; left:10%; top:70%;width: 80%;padding: 0.5rem;}
.pri_name{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight:700;
    position: absolute;
    top: 58%;
}
.winBox .btn{
    width:100%;
    padding: 0.5rem;
}
.winBox h4{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    top: 10%;
    font-weight:normal;
}

.agg {
    width: 5rem; height: 7rem;
    transform-origin:center;
    -webkit-transform-origin:center;

    background: url("../images/agg.png") no-repeat center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    border-radius: 100%;
}
.agg:nth-child(1){
    margin-top: 45%;
    animation: b 1000s linear,zindex 10000ms 0ms infinite linear;
    -webkit-animation: b 1000s linear,zindex 10000ms 0ms infinite linear;

}
.agg:nth-child(2){
    margin-top: -5%;
    margin-left: -5%;
    animation: b 1000s linear,zindex 10000ms -2500ms infinite linear;
    -webkit-animation: b 1000s linear,zindex 10000ms -2500ms infinite linear;
}
.agg:nth-child(3){
    margin-top: -5%;
    margin-right: -5%;
    animation: b 1000s linear,zindex 10000ms -5500ms infinite linear;
    -webkit-animation: b 1000s linear,zindex 10000ms -5500ms infinite linear;
}

.lanren.paused,.paused .agg {-webkit-animation-play-state:paused; animation-play-state:paused;}

@keyframes a{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(36000deg);
        -webkit-transform: rotate(36000deg);
    }
}
@-webkit-keyframes a{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(36000deg);
        -webkit-transform: rotate(36000deg);
    }
}
@keyframes b{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(-36000deg);
        -webkit-transform: rotate(-36000deg);
    }
}
@-webkit-keyframes b{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(-36000deg);
        -webkit-transform: rotate(-36000deg);
    }
}
@keyframes stand{
    0% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
    }
    to{
        transform: rotateY(36000deg);
        -webkit-transform: rotateY(36000deg);
    }
}
@-webkit-keyframes stand{
    0% {
        transform: rotateY(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotateY(36000deg);
        -webkit-transform: rotateY(36000deg);
    }
}
@keyframes zindex {
    0% {
        z-index: 1;
    }
    25% {
        z-index: -1;
    }
    55% {
        z-index: -1;
    }
    75% {
        z-index: 1;
    }
}
@-webkit-keyframes zindex {
    0% {
        z-index: 1;
    }
    25% {
        z-index: -1;
    }
    55% {
        z-index: -1;
    }
    75% {
        z-index: 1;
    }
}


.hammer {
    position: absolute;
    z-index: 10;
    left: -60%;
    top: -30%;
    width: 6.5rem;
    display: block;
    max-width: none;

    -webkit-animation: hammer 0.5s alternate;
    animation: hammer 0.5s alternate;
    transform-origin: bottom left;
    -webkit-transform-origin: bottom left;

}
.agg-puo {
    position: absolute;
    left: -40%;
    right: 0;
    bottom: 18%;
    width: 10rem;
    display: block;
    max-width: none;
    display: none;
}
@keyframes hammer
{

    50%
    {
        transform: rotate(15deg);
    }

}
@-webkit-keyframes hammer
{
    50%
    {
        -webkit-transform: rotate(15deg);
    }
}


.acePack {position: absolute;
    top: 2%;
    right: .5rem;
    width: 2.5rem;}

/* .footer > p {margin: 0 0 2%; text-align: center; color: #fff; font-size: 90%;}
.footer > p span {color: #eabf4d;}
.footer img.logo {display: block; width:9rem; margin: auto;} */


.jn-box {position: fixed; z-index: 99; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.85);}

.tabs {border-bottom: solid 1px #9d9d9d; padding: 5% 5% 0; margin: 0 5%;}
.tabs strong {display: inline-block; /*float: left;*/ width: 48%; text-align: center;  color: #fff; font-size: 90%;}
.tabs strong:first-child {/*border-right: solid 1px #9d9d9d;*/}
.tabs strong span {display: inline-block; padding: 0.5rem 0 0.8rem; font-size: .8rem;}
.current{color: #523422! important;}
.tabs strong.current span {border-bottom: solid 2px #523422;position: relative;}
.tabs strong.current span:after { content: " "; position: absolute; bottom: 0; left: 0; right: 0; margin: auto; width:0;
    height:0;
    border-left:0.4rem solid transparent;
    border-right:0.4rem solid transparent;
    border-bottom:0.4rem solid #523422;}

.btn-close { position: absolute; top: 2%; right: 5%;  font-size: 3rem; color: #9d9d9d; line-height: 3rem; }

.tabsbox {font-size: 80%; color: #fff; -webkit-overflow-scrolling:touch;}
.tabsbox > div {padding: 5%;}
.tabsbox h4 {
    font-size:.75rem; 
    position: relative;
    left: -1.5rem;
    display: inline-block;
    margin:0;
    padding: 0;
    margin-top:.7rem;
}
.tabsbox h4 img{
    width:5.8rem;
}
.tabsbox p {margin: 0; line-height: 160%; font-size:1.2rem;font-size: .7rem;}
.not{
    margin-bottom:.7rem! important;
}
.notice{
    width: 100%;
    color: #462F24;
    padding-left:.8rem;
    position: relative;
}
.notice strong{
    position: absolute;
    left:0.06rem;
    top: .2rem;
    font-size:1rem;
}
.notices{
    color: #462F24;
}

.Prize {border: solid 1px #fff; border-radius: 0.5rem; padding: 1.5rem 0.5rem 0 1.4rem; position: relative; margin-bottom: 1rem;}
.Prize > div {margin: 0.8rem -0.5rem 0 -1.4rem; padding: 1rem 1.4rem 0.8rem; border-top: dotted 1px #fff; color: #c09735;}
.Prize > img {position: absolute; top: -2px; left: -2px; width: 3.5rem; display: block;}



.qrcodeBox {position: fixed; z-index: 99; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);}
.qrcodeBox > div {width: 80%; border-radius: 0.5rem; padding: 12%;     background-color: rgba(255, 255, 255, 0.8); position: absolute; left:50%; top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.qr-close { position: absolute; top: 2%; right: 2%; padding: 0 0.5rem; font-size: 2.5rem; height: 2.5rem; line-height: 2.5rem; }

.sorryBox {position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);}
.sorryBox > div {position: absolute; left:50%; top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%); width: 80%; text-align: center;}
.sorryBox .btn {width: 80%; margin-bottom:5%; padding: 0.5rem;}

.fromBox {position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); display: table}
.fromBox > div {padding: 10%; display: table-cell; vertical-align: middle;}
.from {padding: 10% 5% 0;}
.from input {width: 100%; border: none; background-color: #fff; border-radius: 0.5rem; padding: 0.5rem 1rem; margin-bottom: 5%;}
.from > div input {width: 48%; float: left;}
.from > div button {width: 48%; float: right;  padding: 0.5rem;}

#btn-lq {display: block; margin: auto; padding: 0.5rem 3rem; font-weight: 700; margin-top: 15%;}

.backbtn {display: block; position: absolute; top: 3%; right: 5%; z-index: 99; width: 1.5rem;}
.code-header {background-color: #56a3d9; color: #fff; padding: 15% 5% 10%; text-align: center; position: relative;}
.code-header h3 {font-size: 1.5rem; margin: 0 0 3%;}
.code-header p {margin: 0;}
.code-header > img {display: block; position: absolute; left: 0; bottom: 0; width: 100%;}
.code-content {padding: 10%; text-align: center; font-size: 80%; line-height: 160%;}
.code-content .btn {display: block; width: 10rem; margin: auto; padding: 0.5rem; font-size: 1rem;}

.collect {position: fixed; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); top: 0; left: 0; z-index: 999; text-align: center;}

.landscape {position: fixed; width: 100%; height: 100%; background-color: #000; top: 0; left: 0; z-index: 999; text-align: center;}
.landscape > div {position: absolute; left:50%; top:50%; transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.landscape > div img {width: 5rem;}

.music {position: fixed; z-index: 99; top: 5%; left: 5%; width: 2rem; -webkit-animation: music 2s linear infinite;}
.Musicpaused {-webkit-animation-play-state:paused; animation-play-state:paused;}
@-webkit-keyframes music {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.bot_box{
    width:85%;
    margin:0 auto;
    padding:2rem 0;
}
.bot{
    border-radius:5px;
    background: #c5b6a6;
}
.cover{
    width:100%;
    height: 12rem;
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: auto;
    background:rgba(0, 0, 0, 0.8);
}
.cover p{
    text-align: center;
    color: #fff;
    line-height:12rem;
    font-size:1rem;
    margin:0;
    padding: 0;
}
.win{
    width: 100%;
    display: flex;
    height:1.8rem;;
    line-height:1.8rem! important;
    padding:0 .5rem;
    justify-content: space-between;
    background:rgba(123,107,92,.5);
}
.win:nth-child(2n){
    background:#c5b6a6;
}
}
.win span{
    font-size: .8rem;
}


#div1 {
    position: absolute;
    top: 5%; left: 5%;
	width: 10rem;
	height: 4rem;
	overflow: hidden;
}
#div1 a {
	position: absolute;
	color: #8e8e8e;
	text-decoration: none;
    display: block;
    color:#fff;
    border-radius:20px;
	background: rgba(0, 0, 0, 0.6);
    filter: alpha(opacity: 70);
	font-size: 14px;
	padding: 3px 5px;
	font-family: arial;
}


.index {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
}
.main_0,.main_1 {
    flex: 1;
    height: 100%;
    overflow: hidden;
}
.left_0 i,.left_1 i{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
.right_0 i,.right_1 i{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
.content_0,.content_1 {
    white-space: nowrap;
    position: relative;
}
.content_0 div,.content_1 div{
    height: 6rem;
    width: 100%;
    display: flex;
    position: absolute;
}
.content_0 div li,.content_1 div li {
    list-style: none;
    line-height: 5rem;
    margin: .5rem;
    height: 5rem;
    display: inline-block;
    width: 26%;
}
.content_0 div li img,.content_1 div li img{
    width:100%;
    height:auto;
}
.disable i {
    color: #ccc;
}
