.main{
  width: 100%;
  height:auto;
  display: flex;
  justify-content:space-between;
  margin-top: 70px;
}
.main-left{
  width:65.6%;
}
.article{
  width:100%;
  height:auto;
  padding-bottom:15px;
}
.art_title{
  color: #333333;
  font-weight: bold;
}
h5{
  font-size:17px;
  margin-top: 23px;
  color: #333333;
  font-weight:normal;
}
p{
  line-height:23px;
  color: #3d464d;
  font-size:15px;
}
.art-time{
  margin-top: 30px;
  margin-bottom:30px;
  color: #666666;
  font-size:12px;
}
.art-time>span{
  color:#4d63a7;
  font-size:12px;
}
.art-assist{
  font-size:14px;
  color:#999999;
}
.art-text{
  color:#666666;
  margin-top: 20px;
  font-size: 14px;
}
.art-img{
  width:100%;
  height:auto;
  margin-top:26px;
}
.art-img>img{
  display: block;
  width:100%;
}
.art-imgtit{
  font-size:14px;
  color:#999999;
}
.else{
  width:100%;
  height:65px;
  display:flex;
  line-height:65px;
  justify-content: space-between;
  border-top:1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.else>p{
  margin: 0;
  width:40%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  font-size:12px;
  line-height:65px;
}
.else>p>a{
  font-size:12px;
}
.else>p>a:hover{
  text-decoration: none;
}

.bot{
  padding: 15px 0;
  background:#fff;
  margin-top: 20px;
}
.bot-box{
  display: flex;
  flex-wrap: wrap;
}
.bot_dls{
  width: 32%;
  position: relative;
  margin-right: 1.333333%;
}
.bot_dls>a:hover{
  color: #4d63a7;
}
.dls_img{
  width: 100%;
}
.dls_img>img{
  display: block;
  width: 100%;
}
.dls_tit{
  width:100%;
  background:rgba(0,0,0, 0.5);
  font-size:14px;
  color:#fff;
  text-align: left;
  padding: 3px 10px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99;
}
.dls_imgs{
  width:46.3%;
}
.dls_imgs>img{
  display: block;
  width:100%;
}
.dls_list{
  position: absolute;
  left:48%;
  width: 52%;
  height:100%;
  top: 0;
}
.dls_list>p{
  font-size:12px;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dls_time{
  color: #999999;
  position: absolute;
  left: 0;
  bottom: -10px;
}



.main-right{
  margin-left: 30px;
  width: 29.4%;
  padding: 0;
}
.rig-top{
  background: #efefef;
  margin-bottom: 20px;
  padding: 15px 0;
}
.rig_tit{
  width: 100%;
  margin-top: 0;
  height: 30px;
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  padding-left: 25px;
  color: #313a5e;
}
.icons{
  position: absolute;
  display: inline-block;
  width:4px;
  height:19px;
  background: #e24d59;
  left:0;
  top:0;
}
.rig_dls{
  width: 84%;
  margin: 0 8%;
  margin-bottom: 20px;
  position: relative;
}
.rig_dls>a:hover{
  color: #4d63a7;
}
.dls_img{
  width: 100%;
}
.dls_img>img{
  display: block;
  width: 100%;
}
.dls_tit{
  width:100%;
  background:rgba(0,0,0, 0.5);
  font-size:14px;
  color:#fff;
  text-align: left;
  padding: 3px 10px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99;
}
.dls_imgs{
  width:46.3%;
}
.dls_imgs>img{
  display: block;
  width:100%;
}
.dls_list{
  position: absolute;
  left:48%;
  width: 52%;
  height:100%;
  top: 0;
}
.dls_list>p{
  font-size:12px;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dls_time{
  color: #999999;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.share{
  color:#666666;
  height:30px;
  line-height: 30px;
  font-size:14px;
  position: relative;
  margin-bottom:20px;
}
.share>i.icon{
  color: #999;
  margin-left:25px;
  font-size:26px;
  cursor: pointer;
}
.share>i.icon:nth-child(1){
  position: absolute;
  left:40px;
}
.share>i.icon:nth-child(2){
  position: absolute;
  left:88px;
}
.share>i.wx{
  color: #00b200;
}
.share>i.wb{
  margin-left:14px;
  color: #d83a3a;
}
.share2{
  position: relative;
}
.big-wx{
  display:none;
  width:100px;
  height:100px;
  background:#fff;
  padding:6px;
  position: absolute;
  top:35px;
  left:25px;
  z-index:9999;
  box-shadow: 3px 3px 7px #999;
}
.big-wx>img{
  width: 100%;
  display: block;
}
.big-wb{
  display:none;
  width:100px;
  height:100px;
  background:#fff;
  padding:6px;
  position: absolute;
  top:35px;
  left:65px;
  z-index:9999;
  box-shadow: 3px 3px 7px #999;
}
.big-wb>img{
  width: 100%;
  display: block;
}
.videoFrame {
  width: 100%;
  height: auto;
  margin-bottom:20px;
}
.timeLabel {
  font-size: 12px;
  position: absolute;
  right: 0px;
}
