.main1{
  width:84%;
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.fhcen{
  width:100%;
  height:auto;
  margin-top:80px;
}
.two-ban{
  width: 100%;
  margin:0 auto;
  height: auto;
}
.two-ban>img{
  width: 100%;
  display: block;
}
.box{
  width: 100%;
  margin:0 auto;
  background:#fff;
}
.lists{
  display: block;
  width: 101.6%;
  margin: 1.5% 0;
}
.tit{
  height:48px;
  line-height: 48px;
}
.tit-txt{
  height:48px;
  line-height: 48px;
  float: left;
  font-size:22px;
  padding:0;
  position: relative;
  padding-left:35px;
  color:#313a5e;
}
.tit-txt>img{
  width:24px;
  height:24px;
  margin-right:5px;
  position: absolute;
  top:11px;
  left:0
}
.list-more{
  padding-right:26px;
  position: relative;
  font-size:16px;
}
.list-more>img{
  position: absolute;
  width:20px;
  height:20px;
  top:13px;
  right:5px;
}
.tit>a{
  display:block;
  float: right;
  padding-right:12px;
  color: #4d63a7;
}
.tit>a:hover{
  color: #4d63a7;
  text-decoration:none;
}
.cont{
  width: 100%;
  height: auto;
  display: flex;
  justify-content:flex-start;
  flex-wrap:wrap;
}
.cont-dls{
  width:32%;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background:#fff;
  margin-right:1.2%;
}
.cont-dls>a>dt{
  width: 100%;
  overflow: hidden;
}
.cont-dls>a>dt>img{
  display:block;
  width: 100%;
  border-top-right-radius: 6px;  
  border-top-left-radius: 6px; 
  transition: all 1s;
}
.cont-dls>a>dt>img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1); /*Safari 和 Chrome*/
  -moz-transform: scale(1.1); /*Firefox*/
  -ms-transform: scale(1.1); /*IE9*/
  -o-transform: scale(1.1); /*Opera*/
}
.cont-dls>a>dd{
  position: relative;
}
.cont-dls>a>dd>.dls-tit{
  font-size:16px;
  padding:16px 14px 0px 14px;
  width: 100%;
  height:60px;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cont-dls>a>dd>.dls-text{
  font-size:12px;
  padding:0px 14px 5px 14px;
  color:#666666;
  line-height: 26px;
}
.cont-dls>a>dd>.dls-text span{
  float: right;
}
.cont-dls>a>dd>.dls-time{
  position: absolute;
  bottom: -30px;
  right: 10px;
  font-size:12px;
  padding:0px 10px 5px 10px;
  text-align:right;
  color:#666666;
}
.cont-dls>a:hover{
  color: #4d63a7;
  color:#666666;
  text-decoration:none;
}

.hint{
  color: #999999;
}