*{
  padding:0;
  margin: 0;
  list-style:none;
}
nav {
  margin:0 auto;
  text-align:center;
  width:100%;
  height: 60px;
  position: fixed;
  z-index:99999;
  background:#fff;
  border-bottom:1px solid #e7e7e7;
  min-width:1280px;
}
nav ul {
  width:84%;
  height: 60px;
  line-height:60px;
  margin:0 auto;
  display:inline-table;
  position:relative;  
}
nav ul img{
  width:125px;
  height:auto;
}
nav ul ul {
  height:auto;
  display:none;
}
nav>ul>li:first-child {
  margin-right:30px;
}
nav>ul>li:first-child:hover{
  background: none;
}
nav>ul>li:nth-child(2)>a{
  text-decoration:none;
  padding:0 25px 0 25px;
}
nav>ul>li:nth-child(2):hover{
  background: none;
  color:#337ab7 !important;
}
nav ul li {
  height: 60px;
  line-height:60px;
  float:left; 
}
nav ul::after {
  content:"";
  display:block;
  clear:both;
}
nav ul li a {
  display:block;
  height: 60px;
  padding:0 40px 0 25px;
  line-height:60px;
  color:#777;
  font-size:16px;
  text-decoration:none;
  font-family:"微软雅黑";
  position: relative;
}
nav ul ul li a{
  font-size:16px;
}
nav ul ul li a:hover{
  text-decoration:none;
}
nav ul li:hover > ul {
  display:block;
}
nav ul li:hover {
  background:#fff;
}
nav>ul>li:hover>a {
  color:#337ab7;
  text-decoration:none;
}
nav ul ul {
  width:135px;
  background:#fff;
  position:absolute;
  top:99%;
  padding:10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav ul ul li {
  height:40px;
  line-height:40px;
  float:none;
  /* border-top:1px solid #e7e7e7; */
}
nav ul ul li:hover{
  background:none;
}
nav ul ul li a {
  color:#000;
  height:35px;
  line-height:35px;
  display: inline-block;
  widows: 100%;
  text-align:center;
  padding:0;
}   
nav ul ul li a:hover {
  color:#337ab7;;
}
.triangle{
  position: absolute;
  display: inline-block;
  width:0;
  height:0;
  right:23px;
  top:28px;
  border-top:5px solid #ddd;     /*设置并显示上边框*/  
  border-bottom:none;             /*不设置下边框*/  
  border-left:5px solid transparent;     /*设置但隐藏左边框*/  
  border-right:5px solid transparent;    /*设置但隐藏右边框*/ 
}
nav ul li:hover .triangle{
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
  border-top-color:#313a5e;
}
.font{
  width: 64px;
  position: absolute;
  right:9%;
  top: 18px;
  color:#313a5e;
  font-size: 16px;
  cursor: pointer;
} 
col{
  color: #337ab7;
}