.search-wrapper{
  width:100%;
  height:100%;
  padding-top:150px;
  background:#fff;
  position: relative;
}
.search-close{
  position: absolute;
  top: 60px;
  right: 116px;
  width:24px;
  height:24px;
  cursor: pointer;
}
.search-close>i.iconfont{
  font-size: 26px;
  color:#666666;
  margin-right: 5px;
}
i.iconfont{
  color:#313b5f;
  font-size: 20px;
  margin-right: 5px;
}
.search-main{
  width:500px;
  height:330px;
  margin: 0 auto;
}
.inp{
  width:100%;
  height: 40px;
  position: relative;
}
.inp>input{
  width: 441px;
  height:35px;
  border:none;
  border-bottom:1px solid #dedede;
  font-size:22px;
  font-weight:500;
  color:#666666;
}
.inp>i.icon{
  position: absolute;
  font-size: 28px;
  top:0px;
  color:#666666;
}
.inp>i.icon:hover{
  color:#4d63a7;
}
.sea-con{
  width:100%;
  margin-top:35px;
}
.sea-tit{
  font-size:18px;
  margin-bottom:20px;
  color: #c1c0c0;
}
.sea-label{
  width:100%;
}
.sea-label>li{
  float:left;
  border:1px solid #f2f2f2;
  padding:5px 14px;
  margin-right:17px;
  color:#4d63a7;
  font-weight:600;
  font-size:18px;
  cursor: pointer;
}
.fond{
  width:100%;
  height:65px;
  line-height:65px;
  margin-bottom: 25px;
}
.fond>input[type=text]{
  width:88%;
  height:60px;
  border:1px solid #e3e3e3;
  line-height:55px;
  font-size:22px;
  padding-left:5px;
}
.fond>input[type=submit]{
  width:10%;
  height:55px;
  line-height:55px;
  font-size:22px;
  color:#313a5e;
}
.nonee{
  width:100%;
  height:400px;
  line-height:400px;
  text-align:center;
  font-size: 16px;
  color: #999;
}