.wrapper{
  min-width:1280px;
}
.main_tab{
  width: 100%;
  height: auto;
  margin-top: 70px;
}
.top-detaills{
  width:100%;
  height:auto;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display:flex;
}
.top-left{
  /* flex:1 */
  width:229px;
}
.top-left>img{
  width:100%;
  display:block;
}
.top-right{
  flex:1;
  /* width:100%; */
  padding:15px 20px;
  position: relative;
}
.frame{
  position: absolute;
  top:70px;
  width:40px;
}
.top-tit{
  width:100%;
  font-size:18px;
  color: #2f3a61;
  font-weight:500;
}
.top-tit>strong{
  font-size:20px;
  color: #2f3a61;
  margin-right: 20px;
}
.top-con{
  margin-top: 45px;
  margin-left:25px;
  color:#666;
  font-size:14px;
}
.ana{
  height:auto;
  margin-top: 25px;
  margin-left:25px;
}
.ana-tit{
  float: left;
  width: 75px;
  color:#2f3a61;
  font-size:14px;
}
.swiper-container{
  float: left;
  width:790px;
  background:#2f3a61;
  color:#fff;
  padding:25px 0;
  border-radius:7px;
}
.swiper-slide{
  padding:0 40px;
  font-size:12px;
}
.swiper-button-prev,.swiper-button-next{
  height: 18px;
  margin-top: -9px;
  color:#fff;
}
.swiper-button-prev{
  background-image: url(../images/jt_left.png);
}
.swiper-button-next{
  background-image: url(../images/jt_right.png);
}


.botton{
  width: 100%;
  height:auto;
  margin-top:20px;
  display: flex;
  justify-content:space-around;
}
.tittle{
  width:100%;
  font-size:18px;
}
.coll-left{
  width:69.6%;
}

.tab_list{
  width: 100%;
  padding-bottom: 12px;
  position: relative;
  margin-bottom:12px;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}
.bofang{
  position: absolute;
  width: 50px;
  top: 50%;
  height: 50px;
  left: 16.2%;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 99999;
}
.tab_list:last-child{
  border:none;
}
.tab_list>a{
  display:block;
}
.tab_list>a:hover{
  color:#333333;
  text-decoration:none;
}
.tab_list>a>dt{
  width: 32.4%;
  overflow: hidden;
}
.tab_list>a>dt>img{
  display: block;
  width: 100%;
  transition: all 1s;
}
.tab_list>a>dt>img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1); /*Safari 和 Chrome*/
  -moz-transform: scale(1.1); /*Firefox*/
  -ms-transform: scale(1.1); /*IE9*/
  -o-transform: scale(1.1); /*Opera*/
}
.tab_list>a>dd{
  position: absolute;
  left:33.5%;
  width: 66.5%;
  height:100%;
  top: 0;
}
.tab_list>a>dd>.tab_tit{
  font-weight:800;
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height:24px;
  color:#333333;
}
.tab_list>a>dd>.tab_tit:hover{
  color: #4d63a7;
}
.tab_list>a>dd>.tab_con{
  font-size:14px;
  width: 100%;
  overflow: hidden;
  line-height:22px;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #999999;
}
.tab_list>a>dd>.tab_time{
  font-size: 12px;
  position: absolute;
  bottom:0;
  color:#999999;
}
.tab_list>a>dd>span{
  font-size: 12px;  
  position: absolute;
  bottom:10px;
  right:3px;
  color: #4d63a7;
}


.coll-right{
  width: 29.4%;
  margin-left: 30px;
  background:#fafafa;
  margin-bottom: 20px;
  padding: 15px 0;
}
.rig_tit{
  width: 100%;
  margin-top:0;
  height: 30px;
  text-align: left;
  font-size: 18px;
  font-weight:normal;
  position: relative;
  padding-left: 25px;
  color: #313a5e;
}
.icons{
  position: absolute;
  display: inline-block;
  width:4px;
  height:19px;
  background: #d7aa6f;
  left:0;
  top:0;
}
.rig_dls{
  width: 84%;
  margin: 0 8%;
  margin-bottom: 15px;
  position: relative;
}
.rig_dls>a:hover{
  color: #4d63a7;
}
.dls_img{
  width: 100%;
  overflow: hidden;
}
.dls_img>img{
  display: block;
  width: 100%;
  transition:all 1s;
}
.dls_img>img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1); /*Safari 和 Chrome*/
  -moz-transform: scale(1.1); /*Firefox*/
  -ms-transform: scale(1.1); /*IE9*/
  -o-transform: scale(1.1); /*Opera*/
}
.dls_tit{
  background:rgba(0,0,0, 0.5);
  font-size:16px;
  color:#fff;
  text-align: left;
  padding: 3px 10px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99;
}
.dls_imgs{
  width:46.3%;
}
.dls_imgs>img{
  display: block;
  width:100%;
}