*{
  margin:0;
  padding: 0;
  list-style:none;
}
.top_box{
  width:1180px;
  height:auto;
  margin:0 auto;
  border:17px solid #bb2f25;
}
.box-top1{
  width:100%;
  height:220px;
  position: relative;
}
.top1_LT{
  position: absolute;
  width:61px;
  height:70px;
  top:0;
  left:80px;
}
.top1_rig{
  position: absolute;
  width:257px;
  height:87px;
  top:46px;
  right:200px;
}
.box_ban{
  padding: 0 200px 0 160px;
  height:auto;
}
.box_ban>img{
  width:100%;
}
.box_tit1{
  padding: 0 200px;
}
.tit1{
  margin-top:75px;
  width:516px;
  font-size:30px;
  color:#3B3B3B;
}
.tit1-img{
  margin-top:15px;
}
.box_lead{
  margin-top: 75px;
  padding: 0 200px;
}
.leadcon{
  border-top:4px double #414141;
  border-bottom:4px double #414141;
  padding: 0px 10px;
}
.leadcon>p{
  font-size:22px;
  color:#3B3B3B;
  margin:30px 0;
}
.box_top40{
  margin-top: 75px;
  width:100%;
  height:auto;
  padding: 0 27%;
}
.box_top40>img{
  width:100%;
}
.top40_con{
  padding:0 118px;
  height:5000px;
  margin-top:20px;
  display:flex;
  flex-wrap:wrap;
}
.one,.five{
  margin-top:27px;
}
.three{
  margin-top:54px;
}
.one,.two,.three,.four,.five{
  width:20%;
}
.one img,.two img,.three img,.four img,.five img{
  width:100%;
}
.one img:hover,.two img:hover,.three img:hover,.four img:hover,.five img:hover{
  transform: scale(1.06);
  -webkit-transform: scale(1.06); /*Safari 和 Chrome*/
  -moz-transform: scale(1.06); /*Firefox*/
  -ms-transform: scale(1.06); /*IE9*/
  -o-transform: scale(1.06); /*Opera*/
}

.box-bom{
  width:100%;
  height:120px;
  background: #bb2f25;
}
p.cen{
  width:15%;
  height:120px;
  line-height:130px;
  margin:0 auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 24px;
  color:#fff;
}
p.cen>img{
  width:60px;
  height:61px;
}

.row{
  width:100%;
  margin:0 !important;
  position: relative;
}
.col-md-6>img{
  width:100%;
}
.row_detil{
  position: absolute;
  width: 183%;
  padding-top:18px;
  margin-top:-21px;
  margin-left: 6%;
  display:none;
}
.del2{
  position: absolute;
  width: 183%;
  padding-top:18px;
  margin-top:-21px;
  margin-left: -94%;
  display:none;
}
.del_con{
  border: 5px solid #b23025;
  border-radius: 25px 0px 25px 0px;
  background: #fff;
  z-index: 999;
  padding:10px 28px;
  position: relative;
}
.row_detil span{
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  left: 50px;
  top: -20px;
  border-top: none;
  border-bottom: 16px solid #b23025;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}
.del2 span{
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  left:520px;
  top: -20px;
  border-top: none;
  border-bottom: 16px solid #b23025;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}
.del_con p{
  margin: 0 0 20px;
}

